footer {
  padding: 15px 20px;
  text-align: center;
}

.footer-contact p {
  margin: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* On large screens, display contact details in one line */
@media (min-width: 992px) {
  .footer-contact {
      flex-wrap: nowrap;
      gap: 20px;
  }
}
